.navbar {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-view {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger-icon {
  width: 42px;
}
.logo-mobile {
  width: 44px;
  border: none;
}
.logo {
  width: 74px;
  border: none;
}
.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  list-style: none;
  color: #49557e;
  font-size: 18px;
}
.nav-menu li {
  list-style: none;
  cursor: pointer;
}
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  font-size: 18px;
  cursor: pointer;
}
.navbar-right img {
  width: 34px;
}
.navbar .shopping-cart {
  position: relative;
}
.navbar .shopping-cart .dot {
  position: absolute;
  top: -8px;
  right: -8px;
  min-height: 10px;
  min-width: 10px;
  border: none;
  border-radius: 5px;
  background-color: tomato;
}
.navbar-right button {
  background-color: transparent;
  font-size: 16px;
  color: #49557e;
  padding: 10px 30px;
  border-radius: 50px;
  border: 1px solid tomato;
  cursor: pointer;
  transition: 0.3s;
}
.navbar-right button:hover {
  background-color: #fff4f2;
}
.active {
  border-bottom: 3px solid #49557e;
  padding-bottom: 2px;
}

@media (max-width: 1050px) {
  .navbar .logo {
    width: 70px;
  }
  .nav-menu {
    gap: 20px;
    font-size: 17px;
  }
  .navbar-right {
    gap: 30px;
  }
  .navbar-right button {
    padding: 8px 25px;
  }
}
@media (max-width: 900px) {
  .navbar .logo {
    width: 64px;
  }
  .nav-menu {
    gap: 15px;
    font-size: 16px;
  }
  .navbar-right {
    gap: 20px;
  }
  .navbar-right button {
    padding: 7px 20px;
    font-size: 15px;
  }
}
@media (max-width: 750px) {
  .nav-menu {
    display: none;
  }
}
